<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>4 - Computed properties (Propriétés calculées)</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body id="app">
  <main class="container py-5">
    <h1>Computed properties (Propriétés calculées)</h1>

    <h2>Exemple 1: nom complet </h2>

    <p>
      <label for="firstname">Votre prénom</label>
      <input type="text" class="form-control" name="firstname" id="firstname"  v-model="firstname">
    </p>
    <p>
      <label for="lastname">Votre nom</label>
      <input type="text" class="form-control" name="lastname" id="lastname"  v-model="lastname">
    </p>
    
    <p>Vous vous appelez: {{ fullName }}</p>
    <button class="btn btn-primary" @click="greetings()">Dire bonjour dans la console</button>

    <div class="alert alert-info my-3" v-if="isCartEmpty">
      votre panier est vide
    </div>
    <div class="alert alert-info my-3" v-else>
      votre panier contient {{ cart }} produits.
    </div>

    <div>
      <input type="text" v-model="fullNameComputed">
    </div>
  </main>
  
  <script type="module" src="js/app.js"></script>
</body>
</html>